html, body {
  height:100%;
}

body {
  min-width:800px;
}

main {
  --bs-bg-opacity: 0.2;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  min-width:800px;
  overflow-x: auto;
  overflow-y: auto;
}

.container {
  width: 100%;
}

.container > .content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.v-center {
  display: inline-block;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  font-family: 'Saira Condensed', sans-serif;
  font-stretch: ultra-condensed;
}
